*{
	font-family: arial, sans-serif;
}
.page{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 20px;
}
.aside{
	background-color: #b4cbed;
	margin-left: 40px;
	padding: 25px;
}
.main{
	margin-right: 40px;
}
img{
	height: 140px;
	border: 4px solid #1a5eb8;
  	border-radius: 100px;
}
.social{
	
}

.gr{
	color: green;
}
a{
	text-decoration: none;
}
